extends layout

mixin links
    div(class="row")
        div(class="col s4")
            p
                a(href="#{prevMonthLink}")  < #{prevMonthName}
        div(class="col s4")
            p #{month}, #{year}
        div(class="col s4")
            if nextMonthName
                p
                    a(href="#{nextMonthLink}")  #{nextMonthName} >

block content
    div(class="container")
        +links()
        table
            thead
                tr
                    th(data-field="date") date
                    th(data-field="dataleft") dataleft
                    th(data-field="dataused") dataused
            tbody
                each daily in history
                    tr
                        td #{daily.date}
                        td #{daily.dataleft} MB
                        td #{daily.dataUsed} MB
        +links()
