extends layout

block content
    if !error
        p Current status for network with id: #{networkName}
        p Last sample: #{timeSinceSample} ago
        h2 #{dataleft}
        p Used since midnight #{usedSinceMidnight}
        p Usage yesterday was #{usedYesterday}
        p Explore raw data
            a(href="/usage/#{networkName}") here
